/*---Gerais---*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center {
    max-width: 1400px;
    margin: 0 auto;
}

/*Menu*/


.logo-home{
    width: 50px;
    border-radius: 25%;
}

body{
    background-color: white;
    margin-right: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.section1{
    min-height: 95vh;
    padding-bottom: 30px;
    background-image: url(./img/1551f94fd7e690cf7cb050629eed1834.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}


/* Estilo Navegador */

nav {
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li a{
    margin: 10px 30px;
    font-family: Verdana;
    color:rgb(255, 255, 255);
    font-size: 15px; 
    font-weight: 700;
}

.BTconta{
    height: 50%;
    font-size: 20px;
    font-family: tahoma;
    border:none;
    border-radius: 10px;
    background-color: #ffd900;
    color: #f5f5f5;
    cursor:pointer;
	outline: none;
	font-weight: bold;
	padding: 10px 18px;
	letter-spacing: 1px;

}

.BTconta:hover{
    background-color: #42d41e;
    Color: #fff;
    height: 52%;
    font-size: 22px;
    border-radius: 0;
    transition-duration: 1s;
}

.icone {
    color: white;
    font-size: 22px;
    margin: 0 10px;
    display: none;
    padding: 10px;
    cursor: pointer;
}

/* Section 1 - Texto Boas Vindas*/

#banner {
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

#caixa-banner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#texto-home {
    height: 100%;
    max-width: 500px;
    padding: 10px;
    filter: drop-shadow(0 0 20px #000);
    margin: 45px 0px 25px;
    display: flex;
}

#texto-home p:nth-child(1){
    font-family: 'calibre';
    font-weight: bold;
    color: whitesmoke;
    font-size: 22px;
    text-align: center;
}

#texto-home p:nth-child(2){
    font-family: 'calibri';
    font-weight: bold;
    letter-spacing: 1px;
    color: whitesmoke;
    font-size: 60px;
    text-align: center;

}

#texto-home p:nth-child(3){
    font-family: 'myriad pro regular';
    color: whitesmoke;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    text-align: center;
}

/* .texto-home {
    line-height: 0px;
    margin: 45px 0px 25px;
    left: 100%;
    top: 50%;
    transform: translate(5%, 100%);
    filter: drop-shadow(0 0 20px #000);
} */

/* Imagens Background */

#caixa-imagens {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.celular{
    max-width: 300px;
}

.cartao{
    max-width: 350px;
}

/* Section 2 - Video */

.section2{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#container-video {
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /*position: relative;
    padding: 20px;
    padding-bottom: 36.5%;*/
}

#container-video iframe {
    width: 90%;
    height: 90%;
    border-radius: 15px;
}

/* #video {
    margin: 0 auto;
    background-color: #42d41e;
    display: flex;
    padding: 20px;
}

#video iframe{
    border-radius: 15px;
    margin: 0 auto;
    background-color: #000;
} */

.texto-video{
    text-align: center;
    font-family: 'calibri';
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    font-size: 35px;
}

/* Section 3 */

.section3{
    margin: 0 auto;
    padding: 20px;
}

.caixas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fundo {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.578);
    border-radius: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1{
    background-color: #eea914;
    background: url(./img/credito.jpg);
}

.box2{
    background-color: #f7dba0;
    background: url(./img/emprestimo.jpg);
}

.box3{
    background-color: #7e632a;
    background: url(./img/investimento.jpg);
}

.box1, .box2, .box3 {
   width: 300px;
   height: 300px;
   margin: 10px;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 10%;
   color: #f5f5f5;
}

.box1 span, 
.box2 span,  
.box3 span {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-family: calibri;
    font-weight: bold;
    margin-top: 10px;
    align-items: center;
} 

.projetos1, .projetos2, .projetos3 {
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    text-shadow: 0 0 3px black;
    font-weight: 700;



}

    .animado1, .animado2, .animado3 {
        box-sizing: border-box;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background-color: transparent;
        border: 2px solid #e74c3c;
        border-radius: 0.6em;
        color: #e74c3c;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        margin: 20px;
        padding: 1.2em 2.8em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }
      .animado1:hover, .animado1:focus,
      .animado2:hover, .animado2:focus,
      .animado3:hover, .animado3:focus   {
        color: #fff;
        outline: 0;
      }

      .animado12, .animado22, .animado33  {
        border-color: #f1c40f;
        background-color: #f1c40f6f;
        color: rgb(2, 2, 2);
        background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
        background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
      }
      .animado12:hover, .animado22:hover, .animado33:hover {
        background-position: 0;
      }


/* Section 4 */

.section4{
    background-image: url(./img/1551f94fd7e690cf7cb050629eed1834.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 20px;
}

.abrir-conta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.texto-section4{
    font-size: 4rem;
    filter: drop-shadow(0 0 20px #000);
    color: #fff;
    padding: 10px;
}

.celular-section4{
    width: 100%;
}

/* Rodape da Pagina*/

footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

footer ul {
    float: right;
    display: flex;
   
}

footer ul li {
    margin: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    font-size: 15px; 
    font-weight: 700;

}

footer p {
    text-align: center;
}

.logo-twitter, .logo-facebook, .logo-instagran{
    width: 3rem;
    
}

#footer-contato {
    position: fixed;
    bottom: 0;
}

/* Trabalhe Conosco */

.section-trabalho{
    min-height: 95vh;
    padding-bottom: 30px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.boxTrabalho{
    background-image: url(./img/1551f94fd7e690cf7cb050629eed1834.jpg);
    margin: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    color: #000;
    filter: drop-shadow(0 0 20px #000);
    padding: 80px 20px;
}

.boxTrabalho span{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-family: calibri;
    font-weight: bold;
    margin-top: 10px;
    align-items: center;
    filter: drop-shadow(0 0 20px #000);
    
} 

.div-button{
    margin: 0 auto;
    padding-bottom: 100px;
}

.button-trabalho{
    height: 50%;
    font-size: 20px;
    font-family: tahoma;
    border:none;
    border-radius: 10px;
    background-color: #ffd900;
    color: #000000;
    cursor:pointer;
	outline: none;
	font-weight: bold;
	padding: 10px 18px;
	letter-spacing: 1px;
    display: grid;
    margin: 0 auto;

}

.button-trabalho:hover{
    background-color: #42d41e;
    Color: #fff;
    height: 52%;
    font-size: 22px;
    border-radius: 22%;
    transition-duration: 1s;
}

.texto-trabalho{
    font-size: 50px;
    filter: drop-shadow(0 0 20px #000);
    font-weight: bold;
}
.texto-trabalho1{
    font-size: 30px;
    filter: drop-shadow(0 0 20px #000);


}

/* Pagina Conatato */

.boxContato{
    padding:30px;
    margin-bottom: 100px;
    filter: drop-shadow(0 0 20px #000);
}



form {
    padding: 10px;
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-image: url(./img/1551f94fd7e690cf7cb050629eed1834.jpg);
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5%;
}

h1 {
    margin-bottom: 20px;
    color: #000000;
    text-shadow: 5px 5px 5px black;
    text-align: center;
}

input, textarea {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    text-align: center;
    display: grid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #186600;
    box-shadow: 5px 0px 9px #FFFF00;
    background-color: #FFFF00;
    color: black;
    font-weight: bold;
    text-align: center;
}

.enviar {
    background-color: #31ff08;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
    text-align: center;
    margin: 0 auto;
}

textarea {
    height: 120px;
    line-height: 20px;
    max-width: 340px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

form label {
    color: #000000;
    font-weight: bold;
    text-align: center;
}


/* Página Sobre */



#texto-sobre> h1{
font-size: 5em;
text-align: center;
margin-bottom: 1em;
padding: 1em;
font-family: tahoma;
filter: drop-shadow(0 0 1em rgb(240, 239, 239));
}
#texto-sobre> h3{
font-size: 2.5em;
text-align: center;
margin-bottom: 1em;
font-family: tahoma;
filter: drop-shadow(0 0 1em rgb(250, 249, 249));
}
.container-principal{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
padding: 5em;
}
#container-img{
height: 25%;
width: 50%;
margin-right: 2em;
padding-top: 5%;

}
.img-pequeno{
max-width: 300px;
display: flex;

} 
.titulo-sobre{
font-size: 2em;
}

/* Section Texto Sobre */

.section-sobre{
    min-height: 95vh;
    padding-bottom: 30px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.texto-completo1 {
    width: 95%;
    height: 100%;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    
}

.texto-completo1 span{
    width: 3rem;
    height: 3rem;
    font-family: calibri;
    font-weight: bold;
    margin-top: 10px;
    
} 


.titulo-sobre1{
    font-size: clamp(1.75em, 1em + 4vw, 2.5em);
    filter: drop-shadow(0 0 20px #000);
    text-align: center;

}
.container-texto1{
    font-size: clamp(1.75em, 1em + 2vw, 1.5em);
    filter: drop-shadow(0 0 20px #000);
    text-align: center;
}


/*------Media Query------*/
@media screen and (max-width: 850px) {
    #banner {
        padding-top: 0;
        margin-top: 0;
    }
    #container-video {
        height: 100%;
    }

    .nav ul {
        display: none;
        background-color: white;
        padding: 10px;
        z-index: 100;
        position: absolute;
        top: 60px;
        right: 0;
        flex-direction: column;
        box-shadow: 0 0 3px black;
        border-radius: 5px 0 0 5px;
    }

    .nav ul li {
        color: #000;
        padding: 10px 0;
    }

    .nav ul a {
        color: #000;
    }

    .icone {
        display: block;
    }

    .texto-video {
        font-size: 25px;
    }

    .texto-section4,.container-texto {
        font-size: 3rem;
    }

    #texto-sobre> h1{
        font-size: 2em;
        }
        #texto-sobre> h3{
        font-size: 2em;
        }

    .boxTrabalho {
        margin: 20px;
        padding: 20px;
    }
}